<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class='card'>
    <h3 class='card-header bg-primary text-white'>
    Welcome {{username}}Patrick!
    </h3>
    <div class='card-body'>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Check By Date:" aria-label="Check By Date:" aria-describedby="basic-addon1" [(ngModel)]='listFilter'>
          </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='assignments && assignments.length'>
                <thead>
                    <tr>
                        <!-- <th>
                            <button class='btn btn-primary'>
                                Show Image
                            </button>
                        </th> -->
                        <th>Assignment</th>
                        <th>Subject</th>
                        <th>Due Date</th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Update Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                 <tr *ngFor='let assignment of filteredAssignments'>
                     <!-- <td></td> -->
                     <td>{{assignment.assignmentTitle}}</td>
                     <td>{{assignment.subject}}</td>
                    <td>{{assignment.dueDate}}</td>
                    <td>{{assignment.priority}}</td>
                    <td>{{assignment.status}}</td>
                    <td><select>
                            <option value="Not Started" name="status">Not Started</option>
                            <option value="In Progress" name="status">In Progress</option>
                          </select></td>
                    <td><button id="edit" class="btn btn1">Edit</button></td>
                    <td><button id="remove" class="btn btn2" (click) = "deleteAssignment(assignment.id)">
                        <i class="fa fa-check"></i>Finished!</button></td>                    
                 </tr>  
                </tbody>
            </table>
        </div>
    </div>
</div>