thead{
    color: #337AB7;
}
.btn1 {
    background-color: #337AB7; 
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
  .btn:hover {
    opacity: 0.7;
  } 
.btn2 {
  background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.card-body{
  background-image: url(../images/paper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 85px;
  padding-top: 10px;
  font-family: graffiti;
}