<div class='card'>
  <div class='card-body'>
    <h5 class="card-title">Enter Assignment details:</h5>
    <form>
      <div class="form-group">
        <input type="text" class="form-control" id="assignmentID" name="assignmentID" placeholder="Enter Assignment ID"
          [(ngModel)]='assignmentId'>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="assignmentTitle" name="assignmentTitle" placeholder="Enter Assignment Name"
          [(ngModel)]='assignmentTitle'>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject"
          [(ngModel)]='subject'>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="dueDate" name="dueDate" placeholder="Enter Due Date"
          [(ngModel)]='dueDate'>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="priority" name="priority" placeholder="Priority" 
        [(ngModel)]='price'>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" id="status" name="status" placeholder="Status" 
        [(ngModel)]='status'>
      </div>
      <button type="submit" (click)="addAssignment()" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>